/* reset */
*, 
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}


body{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}


.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
    'img1 img8 img8 img4'
    'img1 img5 img5 img6'
    'img2 img9 img3 img6'
    'img7 img7 img7 img7'
    
   
    
}


.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* 0.6 is the transparency */
.image-gallery a i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity 0.5s
}


/* psuedo classes */
.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8) ;
    opacity: 0;
    transition: opacity 0.5s;
}


/* hover effect */
.image-gallery a:hover i, 
.image-gallery a:hover::before{
    opacity: 1;
}


.img1{
    grid-area: img1;
    /* 1.5 rem for the grid gap */
    min-height: 51.5rem;
    background-image: url('images/fulls/01.jpg');
}

.img2{
    grid-area: img2;
    background-image: url('images/fulls/02.jpg');
}

.img3{
    grid-area: img3;
    background-image: url('images/fulls/03.jpg');
}

.img4{
    grid-area: img4;
    background-image: url('images/fulls/04.jpg');
}

.img5{
    grid-area: img5;
    /* min-height: 20rem; */
    background-image: url('images/fulls/05.jpg');
}

.img6{
    grid-area: img6;
    min-height: 51.5rem;
    background-image: url('images/fulls/06.jpg');
}

.img7{
    grid-area: img7;
    /* min-height: 51.5rem; */
    background-image: url('images/fulls/07.jpg');
}

.img8{
    grid-area: img8;
    background-image: url('images/fulls/08.png');
}

.img9{
    grid-area: img9;
    background-image: url('images/fulls/09.jpg');
}

/* .img10{
    grid-area: img10;
    background-image: url('images/fulls/10.png');
}

.img11{
    grid-area: img11;
    /* min-height: 51.5rem; */
    /* background-image: url('images/fulls/11.png');
}

.img12{
    grid-area: img12;
    background-image: url('images/fulls/12.jpg');
}  */
 


/* responsive styles */

@media screen and (max-width: 900px){

    .image-gallery{

    grid-template-areas: 
        'img1 img1 img4 img4'
        'img1 img1 img3 img3'
        'img2 img2 img5 img5'
        'img6 img6 img9 img9'
        'img8 img8 img7 img7'
        
    }
    .image-gallery a{
        /* reduce size of images */
        height: 20rem;
    }

    .img1{
        min-height: 41.5rem;
    }

    .img6{
        min-height: 51.5rem;
    }
    .img9{
        min-height: 51.5rem;
    }


}


@media screen and (max-width: 500px){

    .image-gallery{

    grid-template-areas: 
        'img1 img1 img1 img1'
        'img2 img2 img2 img2'
        'img3 img3 img3 img3'
        'img4 img4 img4 img4'
        'img5 img5 img5 img5'
        'img6 img6 img6 img6'
        'img7 img7 img7 img7'
        'img8 img8 img8 img8'
        'img9 img9 img9 img9'
    }
    .image-gallery a,

    .img6{
        /* reduce size of images */
        min-height: 30rem;
        height: 30rem;
    }


    .img1{
        min-height:50rem;
    }

  

}
