body, input, select, textarea {
  color: #585858;
 /* font-family: 'Open Sans', sans-serif; */
  font-family: 'arial', sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.7;
  margin: 100px
}


/* function(i,html) {
    return html.replace(/(@\w+)/g, '<span class="twitterHandle">$&</span>');
}); */
